.cart__section {
  overflow: hidden;
  text-align: center;
  display: flex;
}

.cart__flex__box {
  position: relative;
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  margin-left: 38rem;
  padding-bottom: 10rem;
}

.cart__flex {
  position: relative;
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  margin-left: 10rem;
  padding-bottom: 10rem;
}

.cart__content__items {
  padding-top: 5rem;
}

::-webkit-scrollbar {
  display: none;
}

.cart__h1 {
  font-size: 8rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.cart__text h2 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb19f 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  user-select: none;
}

.cart__text h3 {
  font-size: 3rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb19f 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  user-select: none;
  padding-bottom: 1rem;
}

.cart__infos {
  width: 40rem;
  background-color: rgb(66, 0, 55);
  box-shadow: 0 1px 0 1px #131313;
  color: white;
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 10rem;
}

.cart__button__deleted {
  color: rgba(204, 8, 171, 0.849);
  box-shadow: 0 2px 0 0 #131313;
  padding: 1rem;
  font-size: 19px;
  background-color: transparent;
  border: 1px solid rgba(204, 8, 171, 0.849);
  border-radius: 5px;
  transition: 0.3s;
}

.cart__button__update {
  color: rgba(239, 243, 16, 0.849);
  box-shadow: 0 2px 0 0 #131313;
  padding: 1rem;
  font-size: 19px;
  background-color: transparent;
  border: 1px solid rgba(239, 243, 16, 0.849);
  border-radius: 5px;
  transition: 0.3s;
}

.cart__button__update:hover {
  color: white;
  background-color: rgba(239, 243, 16, 0.849);
  border: 1px solid rgba(230, 226, 4, 0.849);
}


.cart__button__deleted:hover {
  color: white;
  background-color: red;
  border: 1px solid rgba(204, 8, 171, 0.849);
}

.cart__absolute {
  position: absolute;
  top: 30px;
  left: 30px;
}

.cart__absolute__secondary {
  position: absolute;
  top: 30px;
  right: 30px;
}

.cart__infos__flex {
  display: flex;
  margin: 1rem;
  border-radius: 1rem;
  justify-content: space-between;
  background-color: rgb(66, 0, 55);
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.cart__mini__icon__minus {
  padding: 1rem;
}

.cart__mini__icon__plus {
  padding: 1rem;
}

.cart__mini__icon__plus:hover {
  color: rgb(20, 223, 20);
}

.cart__mini__icon__minus:hover {
  color: rgb(223, 44, 20);
}

.cart__infos:hover {
  background-color: #131313;
  box-shadow: 0 1px 0 1px #131313;
}

.cart__infos__text {
  text-transform: uppercase;
  padding: 1rem;
}

.cart__infos__lowercase {
  text-transform: lowercase;
  padding: 3rem;
}

.cart__price {
  text-transform: uppercase;
  padding: 1rem;
  cursor: pointer;
  background-color: rgb(13, 187, 36);
  box-shadow: 0 1px 0 1px #131313;
  margin-top: 1rem;
  font-weight: bold;
  border-radius: 1rem;
  color: rgb(66, 0, 55);
  transition: 0.3s;
}

.cart__price:hover {
  text-transform: uppercase;
  background-color: rgb(8, 238, 38);
  color: rgb(0, 0, 0);
}

.cart__p__container {
  padding-bottom: 5rem;
  width: 100rem;
  align-items: center;
  justify-content: center;
  margin-left: 46rem;
}

.cart__p {
  font-size: 3.5rem;
}

.cart__box {
  position: relative;
  margin-left: 10rem;
  width: 550px;
  height: 500px;
  background-color: rgb(39, 39, 39);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  backdrop-filter: blur(25px);
  border-radius: 10px;
  transition: 0.5s;
  margin-bottom: 5rem;
}

.cart__box:hover {
  position: relative;
  box-shadow: 0 25px 45px rgba(204, 8, 171, 0.849);
  background-color: rgb(116, 8, 116);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.cart__box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.075);
  pointer-events: none;
  transform: skewX(-15deg);
}

.cart__box__center {
  margin: 5rem;
  margin-top: 5rem;
  border-radius: 5px;
}

.cart__image {
  margin: 2rem 0;
  padding: 1rem 5rem;
  width: 350px;
  border-radius: 1rem;
  height: 200px;
  transition: 0.5s;
}