.middle__section {
  overflow: hidden;
  position: absolute;
  top: 100px;
  display: inline-block;
}

.middle__container {}

::-webkit-scrollbar {
  display: none;
}

#myVideo {
  position: relative;
  object-fit: cover;
  right: 0;
  bottom: 5rem;
  height: 100%;
  width: 100%;
}

.middle__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #797979;
  mix-blend-mode: overlay;
}

.middle__text {
  position: absolute;
  top: -700px;
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px black;
  position: relative;
  z-index: 999;
}

.middle__h1 {
  font-size: 8rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.middle__text h2 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb19f 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  user-select: none;
}

.middle__text h3 {
  font-size: 3rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb19f 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  user-select: none;
  padding-bottom: 1rem;
}

.middle__a {
  padding-top: 1rem;
  font-size: 1.6rem;
  background-color: transparent;
  font-weight: bold;
  padding: 1.2rem;
  border-radius: 2rem;
  background-size: 100%;
  font-size: 1.5rem;
  background-image: linear-gradient(to top, #5a1d4b 0%, #011b03 100%);
  padding: 14px 32px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}

.middle__a:hover {
  color: rgb(170, 169, 169);
  transform: translateY(-0.25em);
  background-image: linear-gradient(to top, #742560 0%, #171b17 100%);
}

.middle__container__items {
  position: relative;
  margin-top: 27rem;
  width: 100%;
  height: 55vw;
}

.middle__title {
  padding-top: 5rem;
}

.middle__h2 {
  box-shadow: 0 1px 0 1px #fdfdfd;
  font-size: 5rem;
  font-weight: bold;
}

.middle__content__items {
  padding-top: 15rem;
}

.middle__p__container {
  padding-bottom: 5rem;
  width: 100rem;
  align-items: center;
  justify-content: center;
  margin-left: 46rem;
}

.middle__p {
  font-size: 3.5rem;
}

.middle__flex__box {
  position: relative;
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  margin-left: 38rem;
  padding-bottom: 10rem;
}

.middle__box {
  position: relative;
  width: 350px;
  height: 400px;
  background-color: rgb(39, 39, 39);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  backdrop-filter: blur(25px);
  border-radius: 10px;
  transition: 0.5s;
}

.middle__box:hover {
  position: relative;
  width: 350px;
  height: 400px;
  box-shadow: 0 25px 45px rgba(204, 8, 171, 0.849);
  transform: scale(1.1);
  background-color: rgb(116, 8, 116);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.middle__box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.075);
  pointer-events: none;
  transform: skewX(-15deg);
}

.middle__box__center {
  margin: 1rem;
  margin-top: 5rem;
  width: 94%;
  height: 65%;
  border-radius: 5px;
}

.middle__image {
  background-color: rgb(85, 0, 71);
  box-shadow: 0 1px 0 1px #131313;
  padding: 1rem;
  width: 300px;
  border-radius: 1rem;
  height: 200px;
}

.middle__infos {
  text-transform: uppercase;
  background-color: rgb(66, 0, 55);
  box-shadow: 0 1px 0 1px #131313;
  margin-top: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.middle__infos:hover {
  background-color: #131313;
  box-shadow: 0 1px 0 1px #131313;
  margin-top: 1rem;
  border-radius: 1rem;
  font-weight: bold;
}

.middle__price {
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgb(13, 187, 36);
  box-shadow: 0 1px 0 1px #131313;
  margin-top: 1rem;
  border-radius: 1rem;
  color: rgb(66, 0, 55);
}

.middle__price:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: 500;
}