.sidebar__section {
  width: 35rem;
  max-height: calc(100vh - 9rem);
  position: fixed;
  right: 3rem;
  z-index: 777;
  overflow-y: auto;
  border-radius: 5px;
}

.sidebar__p__highlighted {
  color: white;
  font-size: 2rem;
}

.sidebar__p {
  color: white;
  font-size: 2rem;
  text-transform: lowercase;
}

.sidebar__list {
  background-color: rgb(85, 0, 71);
  width: 35rem;
  height: auto;
  right: 3rem;
}

.sidebar__app {
  display: flex;
  color: white;
}

.sidebar__container {
  overflow-x: hidden;
  background-color: #131313;
  height: 95.5vh;
  width: 30rem;
}

.sidebar__btn {
  display: flex;
  padding: 10px 20px;
  cursor: pointer;
  align-items: center;
  font-size: 1.5rem;
}

.sidebar__btn--active,
.sidebar__btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.sidebar__icon {
  color: white;
  margin-right: 20px;
  font-size: 2.5rem;
}

.icon__red {
  color: #e91e63;
}

.sidebar__buttons {
  padding-bottom: 20px;
  border-bottom: 1px solid #303030;
}

.sidebar__p {
  color: white;
}

.sidebar__text {
  color: white;
  font-size: 2.5rem;
}
