<link href="../css/template/header-store.css" rel="stylesheet" />

<header-component></header-component>

<section class="details__section">
  <div class="details__container">
    <div class="details__flex">
      <div class="details__img__container">
        <div class="details__container__img">
          <img class="details__img" src="{{carId.image_url}}" />
        </div>
      </div>
      <div class="details__section__info">
        <div class="details__info__text">
          <p class="details__text__p">HELLOOOO</p>
        </div>
      </div>
    </div>
  </div>
</section>
<p>{{carId[0]}}</p>
