<link href="../css/template/header-store.css"  rel="stylesheet"/>
<header-component></header-component>
<section class="store__section">
<sidebar-component></sidebar-component>
        <div class="store__content__items">
          <div class="store__p__container">
            <h1 class="store__h1">
              CATALOGO
            </h1>
          </div>
          <div class="store__flex__box">
            <div class="store__box" ng-repeat="car in allProducts">
              <div class="store__box__center">
                <img class="store__image" src="./views/images/car (3).png" />              
                <div class="store__box__content">                
                  <div class="store__infos">
                    <p class="store__infos__text">Marca: BMW</p>
                  </div>  
                  <div class="store__infos">
                    <p class="store__infos__text">Nome: M3-GTR</p>
                  </div>
                  <div class="store__infos">
                    <p class="store__infos__text">Endereço: Rua joao alfredo numero 141</p>
                  </div>
                  <div class="store__infos">
                    <p class="store__infos__text">Data: 11/12/2021</p>
                  </div>
                  <div class="store__infos">
                    <p class="store__price">Preço: 50.000,00 R$</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="store__box" ng-repeat="car in allProducts">
              <div class="store__box__center">
                <img class="store__image" src="./views/images/car (3).png" />              
                <div class="store__box__content">                
                  <div class="store__infos">
                    <p class="store__infos__text">Marca: BMW</p>
                  </div>  
                  <div class="store__infos">
                    <p class="store__infos__text">Nome: M3-GTR</p>
                  </div>
                  <div class="store__infos">
                    <p class="store__infos__text">Endereço: Rua joao alfredo numero 141</p>
                  </div>
                  <div class="store__infos">
                    <p class="store__infos__text">Data: 11/12/2021</p>
                  </div>
                  <div class="store__infos">
                    <p class="store__price">Preço: 50.000,00 R$</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="store__box" ng-repeat="car in allProducts">
              <div class="store__box__center">
                <img class="store__image" src="./views/images/car (6).png" />              
                <div class="store__box__content">                
                  <div class="store__infos">
                    <p class="store__infos__text">Marca: TOYOTA</p>
                  </div>  
                  <div class="store__infos">
                    <p class="store__infos__text">Nome: COROLA</p>
                  </div>
                  <div class="store__infos">
                    <p class="store__infos__text">Endereço: Rua joao alfredo numero 141</p>
                  </div>
                  <div class="store__infos">
                    <p class="store__infos__text">Data: 11/12/2021</p>
                  </div>
                  <div class="store__infos">
                    <p class="store__price">Preço: 10.000,00 R$</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
</section>
