<div class='footer-container'>
    <section class='footer-subscription'>
        <p class='footer-subscription-heading'>
            Entre na aventura para receber suas melhores vocações ideais
        </p>
        <p class='footer-subscription-text'>
            Você pode se desinscrever a qualquer momento
        </p>
        <div class='input-areas'>
            <form>
                <input type='email' name='email' placeholder='Your Email' class='footer-input'/>
                <button class='header__list__button'>Inscreva-se</button>
            </form>
        </div>
    </section>
    <div class='footer-links'>
        <div class='footer-link-wrapper'>
            <div class='footer-link-items'>
                <p class="footer-p">Sobre</p>
                <a href='/'>Teste</a>
                <a href ='/'>Carreiras</a>
                <a href='/'>Investir</a>
                <a href='/'>Termos de Serviços</a>
            </div>
            <div class='footer-link-items'>
                <p class="footer-p">Contato</p class="footer-p">
                <a href='/'>Contato</a>
                <a href='/'>Suporte</a>
                <a href ='/'>Destinos</a>
                <a href='/'>Sponsorships</a>
            </div>
        </div>
        <div class='footer-link-wrapper'>
            <div class='footer-link-items'>
                <p class="footer-p">Videos</p class="footer-p">
                <a href='/'>Enviar Video</a>
                <a href='/'>Portas</a>
                <a href ='/'>Agencia</a>
                <a href='/'>Influenciadores</a>
            </div>
            <div class='footer-link-items'>
                <p class="footer-p">Midias Sociais</p class="footer-p">
                <a href='/'>Instagram</a>
                <a href='/'>Facebook</a>
                <a href ='/'>Youtube</a>
                <a href='/'>Twitter</a>
            </div>
        </div>
    </div>
    <section class='social-media'>
        <div class='social-media-wrap'>
            <div class='social-icons'>
                <a class='social-icon-link facebook' href='/' target='_blank' aria-label='Facebook'><i class='fa fa-facebook-f'></i></a>
                <a class='social-icon-link instagram' href='/' target='_blank' aria-label='Instagram'><i class='fa fa-instagram'></i></a>
                <a class='social-icon-link youtube' href='/' target='_blank' aria-label='Youtube'><i class='fa fa-youtube'></i></a>
                <a class='social-icon-link twitter' href='/' target='_blank' aria-label='Twitter'><i class='fa fa-twitter'></i></a>
                <a class='social-icon-link git' href='/' target='_blank' aria-label='LinkedIn'><i class='fa fa-github'></i></a>
            </div>
        </div>
    </section>
</div>