<link rel="stylesheet" href="./css/header.css" />

<section class="header__section">
  <div class="header__flex__control">
    <div class="header__right__section">
      <div class="header__logo">
        <i class="fa fa-paypal header__icon" aria-hidden="true"></i>
        <h1
          onclick="window.location.href = '#!/home'"
          class="header__logo__text"
        >
          PCSTORE
        </h1>
      </div>
    </div>
    <div class="header__left__section">
      <div class="header__list">
        <a class="header__list__a">HOME</a>
        <a class="header__list__a" ng-href="#!/store">LOJA</a>
        <a class="header__list__a" ng-href="#!/store">MODELOS</a>
        <button
          onclick="window.location.href = '#!/login'"
          class="header__list__button"
        >
          LOGIN
        </button>
      </div>
    </div>
  </div>
</section>
